@tailwind base;
*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: beige;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
@tailwind components;
@tailwind utilities;