@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: beige;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
  *.img-logo{
    filter: drop-shadow(2px 4px 6px black)
  }
@tailwind components;
@tailwind utilities;